# .NET build output
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/